
.container{
    margin: 30px auto;
    padding: 0 20px;
    height: 200px;
    width: 90%;
    background-color: slateblue; 
    border: 2px solid black;  
}

div{
    align-items: center;
    width: 150px;
    height: 150px;
    border: 2px solid white;
}

/* JUODIEMS DIVAMS */

.black div{
     background-color: black;
}

.space {
    display: flex;
    justify-content: space-around;
}

/* MELINEMS DIVAMS */


.blue div{
    background-color: rgba(0, 255, 221, 0.507);
}

.toge {
    display: flex;
    justify-content:center;
}

/* PURPLE DIVAMS */

.purple div{
    background-color: purple;
}

.away{
    display: flex;
    justify-content:space-between;
}

.small-con1{
    display: flex;
    justify-content:center;
}

.small-con1 div{
    background-color: green;
    height: 20px;
    width: 20px;
}

.small-con2{
    display: flex;
    justify-content:space-around;
}

.small-con2 div{
    background-color: green;
    height: 20px;
    width: 20px;
}

/* BALTIEMS DIVAMS */

.white div{
    background-color: white;
    border: 2px solid black;
}

.around{
    display: flex;
    justify-content:space-around;
}

.small-con3{
    display: flex;
    justify-content:center;
    flex-flow: column wrap;    
}

.small-con3 div{
    background-color: blue;
    height: 20px;
    width: 100px;
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
}

.small-con4{
    display: flex;
    justify-content:center;
}

.small-con4 div{
    background-color: blue;
    height: 20px;
    width: 20px;
  
}

.small-con5{
    display: flex;
    justify-content:center;
}

.small-con5 div{
    background-color: blue;
    height: 20px;
    width: 20px;
  
}